.hero{
    margin: 35px auto 0px;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.hero div img{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
}

.shop-now{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    margin-top: -30px;
    background: linear-gradient(0deg, #e0d4f9, #ce9aff);
}

.shop-now img{
    width: 450px;
    height: 300px;
    margin-right: -100px;
}

.main-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main-text h1{
    font-size: 33px;
}

.main-text p{
    font-size: 18px;
    letter-spacing: 2px;
}

.categories-page {
  width: 90%;
  margin: 40px auto;
}

.categories-page h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: #5b21b6;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category-card {
  background: white;
  border-radius: 18px;
  padding: 25px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
  width: 12%;
  height: 100px;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.category-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #5b21b6;
}

.category-card p {
  color: #666;
  margin-bottom: 18px;
}

.category-card button {
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  background: linear-gradient(135deg, #8b5cf6, #c084fc);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.cp{
  display: flex;
  align-items: center;
  height: 90vh;
  margin-top: 68px;
  /* flex-direction: row; */
}

.sections-container{
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: left;
  align-items: center;
  width: 20%;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #e0d4f9, #ce9aff);
}

.products-container{
  display: flex;
  flex-direction: row;
  gap: 25px;
  /* justify-content:center; */
  align-items: center;
  width: auto;
  flex-wrap:wrap;
  height: 90%;
  margin-top: 68px;
  margin-left: 25%;
}

.product-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 20px;
  height: auto;
  gap: 10px;
}

.products-container h2 , .categories-container h2{
  font-variant: small-caps;
  font-size: 26px;
}